	<script src="../assets/fancybox/jquery-3.4.1.min.js"></script>
 	<script src="../assets/fancybox/dist/jquery.fancybox.min.js"></script>
    <script>
        // 给图片添加链接
        $(document).ready(function() {
            $("p img").each(function() {
                var strA = "<a id='yourid' href='" + this.src + "'></a>";
                $(this).wrapAll(strA);
            });
        });
    
        // fancybox
        $("#yourid").fancybox({
                                  openEffect    : 'elastic',
                                  closeEffect   : 'elastic',
                              });
    </script>	