<section>
  <div class="thumb-container">
    {% for project in site.data.settings.projects %}
      <a href="{{ site.github.url }}/{{ project.file }}">
        <div class="thumb-unit" data-folder="{{ site.github.url }}/cx/{{ project.folder }}" style="background-image: url({{ site.github.url }}/assets/img/cx/{{ project.folder }}/c.jpg)">
          <div class="thumb-overlay">
            {{ project.name }} <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</section>
